<!-- Navigation -->

<md-toolbar class="tool-bar" layout="row" layout-align="start center">
    <div class="md-toolbar-tools">
        <md-button ng-show="isAuthenticated()" class="md-icon-button" aria-label="Menu" ng-click="toggleLeftSideNav()">
            <md-icon>
                <i class="material-icons">menu</i>
            </md-icon>
        </md-button>
        <h2>
            <span>Vidada</span>
            <small class="navbar-version">v{{VERSION}}</small>
        </h2>
        <span flex></span>



        <md-button ng-show="isAuthenticated()" class="md-icon-button" ng-click="syncAll()">
            <md-icon>
                <i class="material-icons">sync</i>
            </md-icon>
        </md-button>



        <md-menu ng-show="isAuthenticated()">
            <md-button class="md-icon-button" ng-click="openMenu($mdOpenMenu, $event)">
                <md-icon>
                    <i class="material-icons">face</i>
                </md-icon>
            </md-button>

            <md-menu-content width="4">
                <md-menu-item>
                    <md-button ui-sref="settings">
                        <md-icon md-font-icon="fa fa-fw fa-user" md-menu-align-target></md-icon>
                        Profile
                    </md-button>
                </md-menu-item>
                <md-menu-item>
                    <md-button ui-sref="password">
                        <md-icon md-font-icon="fa fa-fw fa-lock"></md-icon>
                        Password
                    </md-button>
                </md-menu-item>
                <md-menu-divider></md-menu-divider>
                <md-menu-item>
                    <md-button ng-click="logout()">
                        <md-icon md-font-icon="fa fa-fw fa-power-off"></md-icon>
                        Log Off
                    </md-button>
                </md-menu-item>
            </md-menu-content>
        </md-menu>

    </div>
</md-toolbar>


