<h2>Media Libraries</h2>
<p>Add or Remove your media libraries here!</p>

<md-button class="md-raised md-primary" ng-click="newLibrary()">New</md-button>


<md-content flex layout-padding>

    <md-list>
        <md-subheader class="md-no-sticky">Add or Remove your media libraries here!</md-subheader>

        <md-list-item class="md-3-line" ng-repeat="library in libraries" ng-click="editLibrary(library)">

            <md-icon class="md-primary">
                <i class="fa fa-hdd-o fa-2x "></i>
            </md-icon>

            <div class="md-list-item-text">
                <h3>{{library.name}}</h3>
                <p>{{library.rootPath}}</p>
            </div>
            <!--
            <md-button class="md-secondary">Edit</md-button>
            -->
            <md-divider ng-if="!$last"></md-divider>
        </md-list-item>
    </md-list>


</md-content>




<script type="text/ng-template" id="AddNewLibrary.html">
    <div class="modal-header">
        <button type="button" class="close" ng-click="cancel()">&times;</button>
        <h3 class="modal-title">New media library</h3>
    </div>
    <div class="modal-body">
        <p>Add a new media library which will be synchronized.</p>

        <form class="form-horizontal" role="form">
            <div class="form-group">
                <label class="control-label col-sm-2" for="name">Name:</label>
                <div class="col-sm-10">
                    <input class="form-control" id="name" ng-model="myLibrary.name" placeholder="My Videos">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="rootPath">Path:</label>
                <div class="col-sm-10">
                    <input class="form-control" id="rootPath" ng-model="myLibrary.rootPath" placeholder="file:/Users/Max/Movies">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <div class="checkbox">
                        <label><input type="checkbox" ng-model="myLibrary.ignoreMusic"> Ignore Music</label>
                    </div>
                </div>
                <div class="col-sm-offset-2 col-sm-10">
                    <div class="checkbox">
                        <label><input type="checkbox" ng-model="myLibrary.ignoreVideos"> Ignore Videos</label>
                    </div>
                </div>
                <div class="col-sm-offset-2 col-sm-10">
                    <div class="checkbox">
                        <label><input type="checkbox" ng-model="myLibrary.ignoreImages"> Ignore Images</label>
                    </div>
                </div>
            </div>

        </form>

    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="ok()">Create</button>
    </div>
</script>




<script type="text/ng-template" id="EditLibrary.html">
    <div class="modal-header">
        <button type="button" class="close" ng-click="cancel()">&times;</button>
        <h3 class="modal-title">Edit media library</h3>
    </div>
    <div class="modal-body">

        <div class="row">
                <button class="btn btn-fab btn-material-red pull-right" ng-click="deleteLibrary()"><i class="mdi-action-delete"></i></button>
                <p>Edit or delete this media library.</p>
        </div>



        <form class="row form-horizontal" role="form">

            <div class="form-group">
                <label class="control-label col-sm-2" for="name">Name:</label>
                <div class="col-sm-10">
                    <input class="form-control" id="name" ng-model="myLibrary.name" placeholder="My Videos">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="rootPath">Path:</label>
                <div class="col-sm-10">
                    <input class="form-control" id="rootPath" ng-model="myLibrary.rootPath" placeholder="file:/Users/Max/Movies">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <div class="checkbox">
                        <label><input type="checkbox" ng-model="myLibrary.ignoreMusic"> Ignore Music</label>
                    </div>
                </div>
                <div class="col-sm-offset-2 col-sm-10">
                    <div class="checkbox">
                        <label><input type="checkbox" ng-model="myLibrary.ignoreVideos"> Ignore Videos</label>
                    </div>
                </div>
                <div class="col-sm-offset-2 col-sm-10">
                    <div class="checkbox">
                        <label><input type="checkbox" ng-model="myLibrary.ignoreImages"> Ignore Images</label>
                    </div>
                </div>
            </div>

        </form>

    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="ok()">Save</button>
    </div>
</script>
