<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>vidada</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">
        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
        <!-- build:css assets/styles/vendor.css -->
        <!-- bower:css -->
        <link rel="stylesheet" href="bower_components/angular-material/angular-material.css" />
        <link rel="stylesheet" href="bower_components/components-font-awesome/css/font-awesome.css" />
        <link rel="stylesheet" href="bower_components/roboto-fontface/css/roboto-fontface.css" />
        <link rel="stylesheet" href="bower_components/animate.css/animate.css" />
        <!-- endbower -->
        <!-- endbuild -->
        <!-- build:css assets/styles/main.css -->
        <link rel="stylesheet" href="assets/styles/main.css">
        <!-- endbuild -->
        <!-- -->
        <link rel="stylesheet" href="assets/styles/nav.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    </head>

    <body ng-app="vidadaApp" layout='row' ng-controller="VidadaController">

        <!-- Left Sidenav -->
        <md-sidenav ng-show="isAuthenticated()"
                    layout="column"
                    class="md-sidenav-left md-whiteframe-z2"
                    md-component-id="left"
                    md-is-locked-open="isLockedOpen()">

            <md-toolbar class="md-tall md-primary">
                <span flex></span>
                <div layout="column" layout-align="center center" class="md-toolbar-tools-bottom inset">

                    <md-icon style="font-size: 2em" md-font-set="material-icons">movie</md-icon>

                    <h2 class="md-display-1">
                        <span>Vidada</span>
                        <small class="navbar-version">v{{VERSION}}</small>
                    </h2>
                </div>
            </md-toolbar>

            <md-list class="accent-color">
                <md-list-item ng-repeat="menu in mainMenuItems"
                              ng-click="$state.go(menu.state)"
                              ui-sref-active="md-accent"
                              md-ink-ripple class="md-clickable"
                              layout="row" layout-align="start center">
                    <div class="inset">
                        <md-icon md-font-set="material-icons">{{menu.icon}}</md-icon>
                    </div>
                    <div class="inset">{{menu.name}}</div>

                </md-list-item>

            </md-list>
        </md-sidenav>

        <md-content flex layout="column" role="main">

            <!-- Toolbar -->
            <md-toolbar layout="row" layout-align="center start">
                <div class="md-toolbar-tools">
                    <md-button ng-show="isAuthenticated() && !isLockedOpen()" class="md-icon-button" aria-label="Menu" ng-click="toggleLeftSideNav()">
                        <md-icon md-font-set="material-icons">menu</md-icon>
                    </md-button>
                    <h2 update-title> </h2>
                    <span flex></span>



                    <md-button ng-show="isAuthenticated()" class="md-icon-button" ng-click="syncAll()">
                        <md-icon md-font-set="material-icons">sync</md-icon>
                    </md-button>



                    <md-menu ng-show="isAuthenticated()">
                        <md-button class="md-icon-button" ng-click="openMenu($mdOpenMenu, $event)">
                            <md-icon md-font-set="material-icons">face</md-icon>
                        </md-button>

                        <md-menu-content width="4">
                            <md-menu-item>
                                <md-button ui-sref="settings">
                                    <md-icon md-font-set="material-icons">face</md-icon>
                                    Profile
                                </md-button>
                            </md-menu-item>
                            <md-menu-item>
                                <md-button ui-sref="password">
                                    <md-icon md-font-set="material-icons">lock</md-icon>
                                    Password
                                </md-button>
                            </md-menu-item>
                            <md-menu-divider></md-menu-divider>
                            <md-menu-item>
                                <md-button ng-click="logout()">
                                    <md-icon md-font-set="material-icons">clear</md-icon>
                                    Log Off
                                </md-button>
                            </md-menu-item>
                        </md-menu-content>
                    </md-menu>

                </div>
            </md-toolbar>

            <!-- Main Content -->

            <div layout="row" style="overflow: auto;">

                <md-content autoscroll="true" class="infcontent" flex ui-view="content"></md-content>

                <md-divider></md-divider>

                <md-content flex ng-show="$state.current.name.indexOf('detail') > -1" ui-view="detail"></md-content>

            </div>


        <!-- build:js scripts/vendor.js -->
        <!-- bower:js -->
        <script src="bower_components/modernizr/modernizr.js"></script>
        <script src="bower_components/jquery/dist/jquery.js"></script>
        <script src="bower_components/angular/angular.js"></script>
        <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
        <script src="bower_components/angular-cache-buster/angular-cache-buster.js"></script>
        <script src="bower_components/angular-cookies/angular-cookies.js"></script>
        <script src="bower_components/angular-dynamic-locale/src/tmhDynamicLocale.js"></script>
        <script src="bower_components/angular-local-storage/dist/angular-local-storage.js"></script>
        <script src="bower_components/angular-resource/angular-resource.js"></script>
        <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
        <script src="bower_components/angular-translate/angular-translate.js"></script>
        <script src="bower_components/angular-translate-loader-partial/angular-translate-loader-partial.js"></script>
        <script src="bower_components/angular-translate-storage-cookie/angular-translate-storage-cookie.js"></script>
        <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
        <script src="bower_components/angular-animate/angular-animate.js"></script>
        <script src="bower_components/angular-aria/angular-aria.js"></script>
        <script src="bower_components/angular-messages/angular-messages.js"></script>
        <script src="bower_components/angular-material/angular-material.js"></script>
        <script src="bower_components/ngInfiniteScroll/build/ng-infinite-scroll.js"></script>
        <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
        <script src="bower_components/json3/lib/json3.js"></script>
        <script src="bower_components/sockjs-client/dist/sockjs.js"></script>
        <script src="bower_components/stomp-websocket/lib/stomp.min.js"></script>
        <script src="bower_components/arrive/src/arrive.js"></script>
        <!-- endbower -->
        <!-- endbuild -->

        <!-- build:js({.tmp,src/main/webapp}) scripts/app.js -->
        <!-- !DO NOT EDIT! autogenerated includes, see Gruntfile.js -->
        <!-- include: "type": "js", "files": "<%= app.scripts %>" -->
        <script src="scripts/app/app.js"></script>
        <script src="scripts/app/app.constants.js"></script>
        <script src="scripts/components/auth/auth.service.js"></script>
        <script src="scripts/components/auth/authority.directive.js"></script>
        <script src="scripts/components/auth/principal.service.js"></script>
        <script src="scripts/components/auth/provider/auth.oauth2.service.js"></script>
        <script src="scripts/components/auth/services/account.service.js"></script>
        <script src="scripts/components/auth/services/activate.service.js"></script>
        <script src="scripts/components/auth/services/password.service.js"></script>
        <script src="scripts/components/auth/services/register.service.js"></script>
        <script src="scripts/components/form/form.directive.js"></script>
        <script src="scripts/components/form/pager.directive.js"></script>
        <script src="scripts/components/form/pagination.directive.js"></script>
        <script src="scripts/components/language/language.controller.js"></script>
        <script src="scripts/components/language/language.service.js"></script>
        <script src="scripts/components/navbar/navbar.directive.js"></script>
        <script src="scripts/components/navbar/title.directive.js"></script>
        <script src="scripts/components/user/user.service.js"></script>
        <script src="scripts/components/util/base64.service.js"></script>
        <script src="scripts/components/util/error.service.js"></script>
        <script src="scripts/components/util/misc.filters.js"></script>
        <script src="scripts/components/util/parse-links.service.js"></script>
        <script src="scripts/components/util/parse-text.service.js"></script>
        <script src="scripts/components/vidada/library.service.js"></script>
        <script src="scripts/components/vidada/media.service.js"></script>
        <script src="scripts/components/vidada/synchronisation.service.js"></script>
        <script src="scripts/components/vidada/tag.service.js"></script>
        <script src="scripts/app/account/account.js"></script>
        <script src="scripts/app/account/activate/activate.controller.js"></script>
        <script src="scripts/app/account/activate/activate.js"></script>
        <script src="scripts/app/account/login/login.controller.js"></script>
        <script src="scripts/app/account/login/login.js"></script>
        <script src="scripts/app/account/logout/logout.controller.js"></script>
        <script src="scripts/app/account/logout/logout.js"></script>
        <script src="scripts/app/account/password/password.controller.js"></script>
        <script src="scripts/app/account/password/password.directive.js"></script>
        <script src="scripts/app/account/password/password.js"></script>
        <script src="scripts/app/account/register/register.controller.js"></script>
        <script src="scripts/app/account/register/register.js"></script>
        <script src="scripts/app/account/settings/settings.controller.js"></script>
        <script src="scripts/app/account/settings/settings.js"></script>
        <script src="scripts/app/admin/admin.js"></script>
        <script src="scripts/app/admin/configuration/configuration.controller.js"></script>
        <script src="scripts/app/admin/configuration/configuration.js"></script>
        <script src="scripts/app/admin/docs/docs.js"></script>
        <script src="scripts/app/entities/entity.js"></script>
        <script src="scripts/app/error/error.js"></script>
        <script src="scripts/app/main/main.controller.js"></script>
        <script src="scripts/app/main/main.js"></script>
        <script src="scripts/app/vidada/libraries/libraries.controller.js"></script>
        <script src="scripts/app/vidada/libraries/libraries.edit.controller.js"></script>
        <script src="scripts/app/vidada/libraries/libraries.js"></script>
        <script src="scripts/app/vidada/medias/medias.controller.js"></script>
        <script src="scripts/app/vidada/medias/medias.detail.controller.js"></script>
        <script src="scripts/app/vidada/medias/medias.js"></script>
        <script src="scripts/app/vidada/player/player.controller.js"></script>
        <script src="scripts/app/vidada/tags/tags.controller.js"></script>
        <script src="scripts/app/vidada/tags/tags.js"></script>
        <script src="scripts/app/vidada/vidada.controller.js"></script>
        <script src="scripts/app/vidada/vidada.js"></script>
        <!-- /include -->
        <!-- endbuild -->
    </body>
</html>
