html, body {
    font-family: 'Roboto', sans-serif;
    font-size:14px;
    height:100%;
    margin: 0px;
    padding: 0px;
}


.md-primary-background {
    background-color: #673AB7;
}

.md-accent-background {
    background-color: #FF4081;
}

.md-primary-foreground {
    color: #673AB7;
}

.md-accent-foreground {
    color: #FF4081;
}



.large-text {
    font-size: 2em;
}

/* Toolbar area */

.menu {
    background-color: transparent;
    border: none;
    height: 38px;
    margin: 16px;
    width: 36px;
}

md-toolbar h1 {
    margin: auto;
}


/*
md-list .md-button {
    color: inherit;
    font-weight: 500;
    text-align: left;
    width: 100%;
}
md-list .md-button.selected {
    color: #03a9f4;
}*/

/* Sidenav area

md-sidenav  md-list {
    padding: 0px 0px 8px 0px;
}



md-button.menuBtn > md-icon {
    fill:white;
    width:24px;
    height:24px;
}
 */


md-toolbar h1 {
    font-size: 1.250em;
    font-weight: 400;
}


md-bottom-sheet  md-icon {
    margin-right:20px;
}

span.name {
    font-weight: bold;
    font-size:1.1em;
    padding-left:5px;
}

.overflow {
    overflow: auto;
}


/* Global Styles */


.huge {
    font-size: 50px;
    line-height: normal;
}

.green {
    background-color: palegreen;
}
.blue {
    background-color: dodgerblue;
}
.orange {
    background-color: orange;
}

.milk-glass {
    background-color: rgba(255, 255, 255, 0.5);
}


.nav-button {
    text-align:left;
}

.nav-button span {
    vertical-align: middle;
}

.nav-button md-icon {
    margin: 10px;
}


/* ==========================================================================
Hide ng-cloak on page load, https://docs.angularjs.org/api/ng/directive/ngCloak
========================================================================== */
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}


/* ==========================================================================
Version number in navbar
========================================================================== */
.navbar-version {
    font-size: 10px;
    color: #ccc
}

md-card h2:first-of-type {
    margin-top: 0;
}


.warn {
    color: #DE3641;
}


.error {
    color: white;
    background-color: red;
}



/* wait autoprefixer update to allow simple generation of high pixel density media query */
@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {

}


.voffset  { margin-top: 2px; }
.voffset1 { margin-top: 5px; }
.voffset2 { margin-top: 10px; }
.voffset3 { margin-top: 15px; }
.voffset4 { margin-top: 30px; }
.voffset5 { margin-top: 40px; }
.voffset6 { margin-top: 60px; }
.voffset7 { margin-top: 80px; }
.voffset8 { margin-top: 100px; }
.voffset9 { margin-top: 150px; }

.vertical-align {
    display: flex;
    align-items: center;
}

/* start Password strength bar style */
ul#strength {
    display:inline;
    list-style:none;
    margin:0;
    margin-left:15px;
    padding:0;
    vertical-align:2px;
}

.point:last {
    margin:0 !important;
}
.point {
    background:#DDD;
    border-radius:2px;
    display:inline-block;
    height:5px;
    margin-right:1px;
    width:20px;
}
/* end Password strength bar style */




.cover {
    object-fit: cover;
}

.responsive-img {
    max-width: 100%;
    height: auto;
    display:block;
}

.full-img {
    display: block;
    height: auto;
    width: 100%;
    object-fit: contain; !important;
}

/* start media item style */

.media-item {
    background-color: whitesmoke;
    overflow:hidden;
}

.media-item-content {
    display:inline-block;
    position:relative;
    margin: 0;
    padding: 0;
}

.media-toolbar {
    display: none;
    z-index: 1000;
}

.media-toolbar i {
    color: white;
}



.media-item:hover .media-toolbar {
    display: block;
}

.thumbnail-box {
    position: relative;
}

.floating-box {
    margin: auto;
    position: absolute;
    left: 0; top: 0; right: 0; bottom: 0;
    z-index: 5;
}

.center {
    margin: auto;
}

/* end media item style */

/* Animations when content is swapped out */
/* Requires animation.css  */

.ng-enter        { animation: 0.5s zoomIn; }
/*.ng-leave        { animation: 0.5s fadeOut; }*/
/*.ng-hide-add     { animation: 0.5s fadeOut; }*/
.ng-hide-remove  { animation: 0.5s zoomIn; }
/*
.ng-enter        { animation: 0.5s fadeInLeft; }
.ng-leave        { animation: 0.5s fadeOutRight; }
.ng-hide-add     { animation: 0.5s fadeOutLeft ease; }
.ng-hide-remove  { animation: 0.5s fadeInLeft ease; }
*/
