
<h2>All Medias</h2>



<div class="panel panel-default">
    <div class="panel-body">

        <div mass-autocomplete>
            <input ng-model="dirty.value"
                   mass-autocomplete-item="autocomplete_options">
        </div>


        <!-- Media Search -->
        <div class="form-group">
            <div class="input-group">
                <div class="input-group-addon">Search</div>
                <input type="text" class="form-control" ng-model="query" placeholder="Star Wars...">
            </div>
            <div class="input-group">
                <div class="input-group-addon">Tags</div>
                <input type="text" class="form-control" ng-model="tagExpression" placeholder="video (sci-fi | action) !comedy">
            </div>

            <div class="input-group">
                <div class="input-group-addon">Tags</div>
            </div>
        </div>
    </div>
    <div class="panel-footer">
        <p>Found {{mediaService.itemCount}} medias!</p>
    </div>

</div>






<!-- Media Details -->
<div>
    <div infinite-scroll='mediaService.nextPage()' infinite-scroll-disabled='mediaService.busy' infinite-scroll-distance='0'>
    <div class="container-fluid" ng-repeat="item in mediaService.items" ng-switch="$index%4">

        <div class="row" ng-switch-when="0">
            <div ng-repeat="t in [1,2,3,4]">

                <!-- Represents a single media item  -->
                <div ng-show='mediaService.items.length > $parent.$index + $index' class="col-sm-3">
                    <div class="well well-sm">
                        <a href="mpv://{{escape(mediaService.items[$parent.$index + $index].streamUrl)}}">
                            <img src="{{mediaService.items[$parent.$index + $index].thumbnailUrl}}" class="img-responsive">
                        </a>
                        <div>{{mediaService.items[$parent.$index + $index].name}}</div>
                    </div>
                </div>

            </div>
        </div>

    </div>
    </div>


    <div ng-show='mediaService.busy' class="well">
        <div>Loading data...</div>
    </div>

</div>
