<!-- Media Grid -->

<div ng-show="$state.current.name === 'medias'">
    <md-card flex>
        <md-card-content>

            <h2 class="md-title">All Medias</h2>


            <div layout-margin>
                <form>

                    <!-- Media Search -->

                    <div layout="row" layout-sm="column">

                        <md-input-container flex>
                            <label>Search</label>
                            <input type="text" ng-model="mediaQuery.query" ng-change="updateMedias()">
                        </md-input-container>


                        <md-autocomplete flex
                                         md-floating-label="Tag Expression"
                                         md-no-cache="true"
                                         md-search-text-change="updateMedias()"
                                         md-selected-item-change="updateMedias()"
                                         md-search-text="mediaQuery.tagExpression"
                                         md-selected-item="selectedSuggestion"
                                         md-items="item in suggest_tags(mediaQuery.tagExpression)"
                                         md-item-text="item.value"
                                         md-min-length="0"
                                         placeholder="Enter a Tag Expression!"
                                         ng-click="updateCursorPos($event)" ng-keyup="updateCursorPos($event)"
                            >

                            <md-item-template>
                                <span>{{item.label}}</span>
                            </md-item-template>
                            <md-not-found>
                                No matches found.
                            </md-not-found>


                        </md-autocomplete>
                    </div>




                    <div layout="row">

                        <md-input-container flex>
                            <label>Order By</label>
                            <md-select ng-model="mediaQuery.orderBy.id" ng-change="updateMedias()">
                                <md-option ng-repeat="option in availableOrderBy" value="{{option.id}}">
                                    {{option.name}}
                                </md-option>
                            </md-select>
                        </md-input-container>

                        <md-input-container flex>
                            <md-switch ng-model="mediaQuery.reversed" ng-change="updateMedias()" aria-label="Switch 1">
                                Reverse
                            </md-switch>
                        </md-input-container>

                    </div>

                </form>

                <p>Found {{mediaService.itemCount}} medias! ({{mediaService.items.length}} loaded)</p>
            </div>

        </md-card-content>
    </md-card>

    <!-- Media Details -->

    <div flex layout-padding
         infinite-scroll='mediaService.nextPage()'
         infinite-scroll-disabled='mediaService.busy'
         infinite-scroll-immediate-check="true"
         infinite-scroll-container='".infcontent"'
         infinite-scroll-distance='0'>

        <md-grid-list
            md-cols="3" md-cols-sm="1" md-cols-gt-sm="2" md-cols-md="3"  md-cols-lg="4" md-cols-gt-lg="4"
            md-row-height="500:350"
            md-gutter="10px" >


            <md-grid-tile class="media-item" id="{{item.id}}" ng-repeat="item in mediaService.items" md-colspan="1" >


                <md-grid-tile-header class="media-toolbar" layout="row">

                    <!-- Media Actions -->

                    <md-button class="md-icon-button" href="{{item.streamUrl}}">
                        <md-icon>
                            <i class="material-icons">play_circle_outline</i>
                        </md-icon>
                    </md-button>

                    <md-button class="md-icon-button" ng-click="play(item)">
                        <md-icon>
                            <i class="material-icons">airplay</i>
                        </md-icon>
                    </md-button>

                    <md-button class="md-icon-button" ng-click="showDetail($event, item)">
                        <md-icon>
                            <i class="material-icons">details</i>
                        </md-icon>
                    </md-button>

                </md-grid-tile-header>

                <!-- main content of tile -->
                <div class="media-item-content">

                    <!-- Placeholder incase no thubnail -->
                    <div ng-hide="item.thumbnailResource.resourceUrl" layout-fill>
                        <md-icon>
                            <i class="material-icons">more_horiz</i>
                        </md-icon>
                    </div>

                    <!-- Media thubnail -->
                    <img class="media-thumb" ng-show="item.thumbnailResource.resourceUrl" ng-src="{{item.thumbnailResource.resourceUrl}}" layout-fill>

                </div>

                <md-grid-tile-footer><h3>{{item.title}}</h3></md-grid-tile-footer>


            </md-grid-tile>


            <!-- last tile is a loading indicator -->
            <md-grid-tile ng-show='mediaService.busy' md-colspan="1">
                <div layout="row" layout-sm="column" layout-align="space-around">
                    <md-progress-circular md-mode="indeterminate"></md-progress-circular>
                </div>
            </md-grid-tile>

        </md-grid-list>
    </div>
</div>


<!-- Media Detail Overlay -->
<div ng-show="$state.current.name === 'medias_detail'">
    <div class="md-dialog" ui-view></div>
</div>
