
######################
# Node
######################
/node/**
/node_modules/**
bower_components

######################
# SASS
######################
.sass-cache/**

######################
# Intellij
######################
.idea/**
*.iml
*.iws
*.ipr
*.ids
*.orig


######################
# Windows
######################
# Windows image file caches
Thumbs.db

# Folder config file
Desktop.ini

######################
# Mac OSX
######################
.DS_Store
.svn

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

######################
# Logs
######################
*.log

######################
# Others
######################
*.*~
*~
.merge_file*

